.error {
  display: none;
  display: flex;
  color: red;
  justify-content: center;
  align-items: center;
  padding: 0.1em 0 0.1em 0;
}

.slider {
  display: flex;
  border: 2px red solid;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: auto;
  padding-right: auto;
  width: 80%;
  justify-content: center;
  max-width: 500px;
  font-size: 0.75em;
  font-family: "roboto", sans-serif;
}

.slider h1 {
  font-size: 0.75em;
}