  section.new-tweet {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section.new-tweet form {
    display: flex;
    background-color: #8236cb;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    width: 100%;
  }
  section.new-tweet form label {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 900px;
    margin: 0 0 0.2em 0;
    font-family: sans-serif;
    font-size: 0.6em;
    color: white;
    width: 90%;
    margin: 0.5em;
  }
  section.new-tweet form textarea {
    margin-top: 0.2em;
    display: flex;
    background: transparent;
    outline: none;
    width: 90%;
    font-size: 20px;
    color: #fff;
    height: 2em;
    border: none;
    border-bottom: solid white 2px;
    height: 2em;
    resize: none;
  }
  section.new-tweet form div {
    display: flex;
    justify-content: space-between;
    margin: 0.2em 1em 0.2em 1em;
    width: 90%;
  }
  section.new-tweet form div button {
    background-color: #4056A1;
    border: none;
    color: white;
    font-family: "bungee", sans-serif;
    font-size: 0.5em;
    height: 1.5em;
    width: 6em;
    margin-left: 0.1em;
  }
  section.new-tweet form div output {
    color: white;
    font-family: "bungee", sans-serif;
    font-size: 0.6em;
  }
